<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDisplayName</key>
  <string>IELTS Vocabulary Lab</string>
  <key>CFBundleExecutable</key>
  <string>IELTS Vocabulary Lab</string>
  <key>CFBundleIdentifier</key>
  <string>local.ielts.vocabulary.lab.menubar</string>
  <key>CFBundleName</key>
  <string>IELTS Vocabulary Lab</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleIconFile</key>
  <string>IELTSVocabularyLab.icns</string>
  <key>CFBundleIconFiles</key>
  <array>
    <string>IELTSVocabularyLab.icns</string>
  </array>
  <key>LSUIElement</key>
  <true/>
  <key>LSMultipleInstancesProhibited</key>
  <true/>
  <key>NSHighResolutionCapable</key>
  <true/>
  <key>CFBundleShortVersionString</key>
  <string>1.1</string>
  <key>CFBundleVersion</key>
  <string>2</string>
</dict>
</plist>
